*{
  margin: 0;
  padding: 0;
}

.navbar{
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
}

.backgrd-img {
  background-image: url("homebg-1.jpg");
  background-size: cover;
  background-position: center;
}

.backgrd-op{
  background-color: rgba(0, 0, 0, 0.497);
}

img {
  height: 70px;
}

#login {
  background-color: cornflowerblue;
}

input {
  width: 65%;
  border-radius: 4px;
  border: none;
  outline: 2px solid gray;
}

.offreg{
  width: 100%;
  padding: 8px;
}

.regsub{
  background-color: cornflowerblue;
}

.pg-1{
    height: 100vh;
}

.test{
  box-shadow: 0 0 20px white inset;
  border-radius: 20px;
  overflow-y: auto;
  height: 50vh;
  scrollbar-color: blue ;
}

h1{
  text-shadow: 0 0 9px wheat;
}


@media screen and (max-width: 768px) {
    input{
        width: 90%;
    }

    .pg-1{
      height: auto;
    }

    .navbar{
      position: sticky !important;
      top: 0;
    }   

}
